// GOOGLE FONTS WORK SANS
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;800&display=swap");
// GOOGLE FONTS MUSEOMODERNO
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "mixins";

@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: var(--font--primary);
  font-family: "Golos Text", sans-serif;
  font-family: "Golos Text", sans-serif;
  font-family: "Montserrat", sans-serif;
  user-select: none;
}

body {
  --clr-primary: #555;
  --clr-light: #fff;
  --clr--gray: #555555;
  --clr--light--gray: #a0a0a0;
  --font--primary: "MuseoModerno", cursive;
  --font--secondary: "Work Sans", sans-serif;
  --font--third: "Roboto", sans-serif;
  background-color: #fff;
  overflow: unset;
}

.container {
  max-width: 1350px;
  margin: 0 auto;

  @include desktop {
    max-width: 1000px;
  }
  @include tablet {
    max-width: 760px;
  }

  @include mobile {
    max-width: 580px;
  }

  @include extra-small {
    max-width: 400px;
  }

  @include extra-extra-small {
    max-width: 100%;
  }
}

//#region Shopping Cart

.shopping--cart {
  &.hide {
    right: -100%;
  }

  &.empty {
    .emptycart {
      display: block;
    }
    .shopping--cart__list,
    .shopping--cart__actions {
      display: none;
    }
  }

  .emptycart {
    display: none;
  }

  img {
    width: 100%;
  }

  position: fixed;
  width: 400px;
  height: 100%;
  z-index: 999999999;
  padding: 30px 15px;
  right: 0;
  background-color: #fff;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  transition: 0.4s;

  &__head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      font-weight: 400;
    }
    i {
      font-weight: 400;
      cursor: pointer;
    }
  }

  img.emptycart {
    width: 250px;
    margin: 20px auto;
  }
  h2.emptycart {
    font-weight: 400;
    font-size: 1.3rem;
  }
  p.emptycart {
    margin: 30px 0;
    text-align: center;
  }
  .backshop {
    border: none;
    outline: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.4s linear;
    &:hover {
      background-color: #000;
      color: #f0f0f0;
    }
  }

  &__list {
    height: 500px;
    width: 100%;
    overflow-y: scroll;
    padding: 10px 5px;
    margin-top: 20px;
    &--header {
      font-weight: 500;
      text-align: center;
      margin-bottom: 20px;
    }
    .item {
      @include d-flex(space-between, center);
      gap: 10px;
      width: 100%;
      height: 100px;
      border-bottom: 1px solid hsl(0, 0%, 93%);
      padding: 5px;
      margin: 10px 0;
      img {
        width: 60px;
        border: 1px solid hsl(0, 0%, 80%);
      }
      &--content {
        flex-basis: 100%;
        height: 100%;
        @include d-flex(space-around, start, column);
        h5 {
          font-size: 14px;
          font-weight: 500;
          a {
            color: #000;
            transition: 0.3s;
            &:hover {
              color: #0087ca;
            }
          }
        }
        & > p {
          font-size: 12px;
          .price {
            font-size: 14px;
          }
        }
        &__bottom {
          @include d-flex(start);
          margin-right: 5px;
          gap: 0;
          .cart--actions {
            margin-right: 27px;
            border: 1px solid hsl(0, 0%, 80%);
            padding: 0;
            @include d-flex(center);
            button,
            input {
              border: none;
              outline: none;
              background-color: transparent;
              text-align: center;
              height: 25px;
            }

            button {
              width: 20px;
              cursor: pointer !important;
              transition: 0.3s;
              &:hover {
                transform: scale(1.05);
                background-color: #000;
                color: #fff;
              }
            }
            input {
              width: 40px;
              text-align: center;
              &::-webkit-inner-spin-button,
              &::-webkit-outer-spin-button {
                display: none;
              }
            }
          }
          a {
            text-decoration: underline;
            color: #000;
          }
        }
      }
    }
  }

  &__actions {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 170px;
    background-color: #3498db;
    color: #fff;
    padding: 15px 10px;
    @include d-flex(space-between, center, column);
    .subtotal {
      width: 100%;
      @include d-flex(space-between);
      p {
        font-size: 1.1rem;
      }
      span {
        font-size: 1.1rem;
      }
    }
    .checkout {
      width: 100%;
      height: 35px;
      border: none;
      cursor: pointer;
      outline: none;
      transition: 0.3s linear;
      border-radius: 20px;
      &:hover {
        background-color: rgb(255, 174, 0);
        color: #f0f0f0;
        transform: scale(1.05);
      }
    }

    .gotocartpage {
      text-decoration: underline;
      color: #fff;
      cursor: pointer;
    }
  }
}

//#endregion Shopping Cart

// #region Header
.header {
  position: sticky;
  top: 0;
  padding: 0 20px;
  height: 60px;
  @include d-flex;
  background-color: #fff;
  box-shadow: 0px 1px 30px var(--clr-light);
  z-index: 9999;
  border-bottom: 2px solid hsl(0, 0%, 93%);

  &--navigation {
    height: 100%;
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      font-size: 1.1rem;
      line-height: 1.4;
      font-weight: 300;
      transition: 1s height;
      top: 0;
      height: 100%;
      li {
        transition: 1s;
        position: relative;
        height: 100%;
        @include d-flex;

        a {
          color: var(--clr-primary);
        }

        &.active {
          &::before {
            transform: scale(1);
          }
        }
      }
    }
    @include mobile {
      height: 0;
      overflow: hidden;
      &.active {
        height: auto;
      }
    }
  }
}

// #endregion Header

// #region Actions

.actions {
  padding: 15px 0;
  border-bottom: 1px solid hsl(0, 0%, 93%);
  &__content {
    @include d-flex(space-between, center, row);
    height: 100%;
  }
  &--logo {
    font-weight: 400;

    font-size: 2rem;
    width: 300px;

    p {
      color: red;
      span {
        color: var(--clr--gray) !important;
      }
    }
  }

  &--search {
    position: relative;
    z-index: 999999999999;
    input {
      outline: none;
      border: none;
      padding: 1rem 3rem 1rem 1rem;
      width: 300px;
      border: 1px solid hsl(0, 0%, 93%);
      transition: 0.3s;
      &:focus {
        width: 600px;
      }
    }
    i {
      position: absolute;
      right: 1rem;
      line-height: 45px;
      font-size: 20px;
      color: #555;
      cursor: pointer;
    }

    &.hide {
      z-index: 999;
      .actions--search__products {
        height: 0;
        z-index: 999;
      }
    }

    &__products {
      z-index: 99999999999999;
      position: absolute;
      width: 100%;
      background-color: #fff;
      transform: translate(0%, 100%);
      bottom: 0;
      left: 0;
      overflow: hidden;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      border: 1px solid hsl(0, 0%, 93%);
      box-shadow: 0 1rem 6rem #55555584;
      &--item {
        display: flex;
        cursor: pointer;
        gap: 40px;
        padding: 5px;
        transition: 0.3s;
        img {
          height: 90px;
          width: 90px;
          object-fit: contain;
        }

        .content {
          width: 100%;
          display: flex;
          justify-content: center;
          gap: 20px;
          flex-direction: column;
          &__top {
            display: flex;
            justify-content: space-between;
          }
        }
        &:hover {
          transform: scale(0.99);
        }
      }
    }
  }

  &--events {
    @include d-flex;
    width: 300px !important;
    justify-content: end;
    gap: 30px;
    font-size: 25px;
    & > div {
      cursor: pointer;
    }
  }
}

// #endregion Actions

// #region Notifications

.checked {
  color: orange;
}
.unchecked {
  color: var(--clr--light--gray);
}

.notifications {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 350px;
  z-index: 99999999999;

  :where(.notification, div) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .notification {
    box-shadow: 0 4px 30px var(--clr--light--gray);
    font-size: 20px;
    font-weight: 400;
    user-select: none;
    background-color: #fff;
    padding: 8px 10px 8px 16px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    animation: intro 0.3s linear;
    margin-bottom: 20px;
    @keyframes intro {
      0% {
        transform: translateX(100%);
      }
      25% {
        transform: translateX(-10px);
      }
      50% {
        transform: translateX(10px);
      }
      100% {
        transform: translateX(-10px);
      }
    }
    .content {
      gap: 10px;

      svg {
        width: 20px;
      }
    }

    .cancel {
      cursor: pointer;
      color: rgb(116, 107, 107);
      transition: 0.3s;
    }
    .cancel:hover {
      color: rgba(0, 0, 0, 1);
    }

    &::before {
      content: "";
      width: 100%;
      height: 4px;
      position: absolute;
      bottom: 0;
      left: 0;
      animation: timer 5s linear;
    }
    @keyframes timer {
      100% {
        width: 0;
      }
    }
  }
}

.notification.hide {
  animation: outro 0.1s forwards;
}

@keyframes outro {
  100% {
    transform: translateX(calc(100% + 30px));
  }
}

.notification#success::before {
  background-color: #0abf30;
}

.notification#error::before {
  background-color: #e24d4c;
}

.notification#info::before {
  background-color: #3498db;
}

.notification#warning::before {
  background-color: #e9bd0c;
}

// #endregion Notifications

// #region FOOTER

.footer {
  position: fixed;
  z-index: -1;
  bottom: 0;
  left: 0;
  right: 0;
  height: 270px;
  padding: 20px 15px;
  background-color: #ddd;
  color: #000;
  @include extra-small {
    position: static;
    height: auto;
  }

  &--content {
    width: 100%;
    @include d-flex(space-between, flex-start);
    @include extra-small {
      gap: 15px;
      align-items: center;
      gap: 15px;
      flex-direction: column;
      button {
        width: 100%;
      }
    }
    @include extra-extra-small {
      align-items: center;
    }
    &_logo,
    &__nav,
    &__subscription {
      @include mobile {
        width: calc(100% / 3);
      }
      @include extra-extra-small {
        width: 100%;
      }
    }
    &__logo {
      user-select: none;
      p {
        font-size: 1.5rem;
        color: #000;
        text-transform: capitalize;

        @include mobile {
          font-size: 1.2rem;
        }
      }
    }

    &__nav {
      h3 {
        color: #000;
        font-size: 1.5rem;
        font-weight: 400;
        user-select: none;
        margin-bottom: 15px;
        @include mobile {
          font-size: 1.1rem;
        }
        @include extra-small {
          font-size: 1.3rem;
        }
      }

      li {
        margin-bottom: 10px;
        a {
          color: #000;
          border-bottom: 1px solid transparent;
          position: relative;
        }
      }

      @include extra-small {
        text-align: center;
      }
    }

    &__subscription {
      h2 {
        font-weight: 400;
      }
      form {
        @include d-flex(center, center, column);
        margin-top: 5px;
        gap: 20px;
        input,
        button {
          height: 30px;
          outline: none;
          font-size: 1rem;
        }
        input {
          width: 100%;
          border: 1px solid var(--clr--gray);
          padding: 10px 5px;
          position: relative;
        }
        button {
          align-self: flex-end;
          background-color: var(--clr-primary);
          color: var(--clr-light);
          padding: 10px 20px;
          @include d-flex;
          font-size: 1rem;
          border: 1px solid transparent;
          cursor: pointer;
          transition: 0.3s;

          &:hover {
            background-color: var(--clr-light);
            color: var(--clr-primary);
            border: 1px solid var(--clr-primary);
          }
        }
      }

      @include mobile {
        h2 {
          font-size: 1rem !important;
        }
        input {
          font-size: 13px !important;
        }
      }
    }
  }
  &--foot {
    padding: 20px 0;
    @include d-flex(space-between);
    &__sociall {
      @include d-flex;
      gap: 10px;
      a {
        color: #555;
        position: relative;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        overflow: hidden;
        @include d-flex;
        i {
          position: relative;
          z-index: 2;
        }

        &:hover {
          i {
            color: #fff;
          }
          &::after {
            transform: scale(1);
          }
        }
        &::after {
          content: "";
          height: 100%;
          width: 100%;
          position: absolute;
          background-color: #555;
          top: 0;
          left: 0;
          transform: scale(0);
          transform-origin: center;
          transition: 0.2s;
          border-radius: 50%;
        }
      }
    }

    &__copyright {
      a {
        color: #0087ca;

        &::after {
          background-color: #0087ca;
        }
      }
    }

    &__payment {
      @include d-flex;
      font-weight: 500;
      color: #555;
      gap: 10px;
      img {
        width: 30px;
      }
    }
  }
}

// #endregion FOOTER

// #region loading
.preloader {
  height: 100%;
  width: 100%;
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
  perspective: 1600px;
  perspective-origin: 20% 50%;
  transition: 0.5s all;
  opacity: 1;
}

.spinner {
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid var(--clr-primary);
  border-radius: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: spin 1s infinite linear;
}

.preloader.fade {
  opacity: 0;
  z-index: -99;
}

.b-ico-preloader {
  background-size: cover;
  width: 52px;
  height: 67px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: ico 5s infinite linear;
  transform-style: preserve-3d;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes ico {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
//#endregion loading

// #region promotion

.promotion {
  width: 100%;
  margin-bottom: 270px;
  padding: 40px 0;
  background-color: #fff;
  border-bottom: 1px solid hsl(0, 0%, 80%);
  border-top: 1px solid hsl(0, 0%, 80%);

  &--content {
    @include d-flex();
    gap: 40px;

    .promo--main {
      @include d-flex;
      gap: 10px;
      img {
        height: 40px;
      }
      p {
        font-weight: 500;
        color: #292930;
      }
      span {
        font-weight: 300;
        color: #777;
      }
    }
  }
}

// #endregion promotion

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background: var(--clr--light--gray);
  border: 3px solid var(--clr--light--gray);
  color: var(--clr--light--gray);
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: hsl(0, 0%, 93%);
}

.overlay {
  &.hide {
    display: none;
  }
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #56565668;
  z-index: 99999;

  cursor: url("/assets/overlay--cursor.webp"), auto;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
  &.active {
    color: #555;
  }
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--clr-primary);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-underline-animation.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.location {
  font-size: 16px;
  a {
    color: #555;
    &.active {
      font-weight: 400;
    }
  }
}

button[disabled] {
  cursor: not-allowed !important;
}

// #region second loader

.middle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #fff;
  z-index: 9;
  @include d-flex;
  gap: 10px;
  &.hide{
    display: none;
  }
}
.bar {
  width: 5px;
  height: 70px;
  background: #fff;
  display: inline-block;
  transform-origin: bottom center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  /*   box-shadow:5px 10px 20px inset rgba(255,23,25.2); */
  animation: loader .5s linear infinite;
}
.bar1 {
  animation-delay: 0.1s;
}
.bar2 {
  animation-delay: 0.2s;
}
.bar3 {
  animation-delay: 0.3s;
}
.bar4 {
  animation-delay: 0.4s;
}
.bar5 {
  animation-delay: 0.5s;
}
.bar6 {
  animation-delay: 0.6s;
}
.bar7 {
  animation-delay: 0.7s;
}
.bar8 {
  animation-delay: 0.8s;
}

@keyframes loader {
  0% {
    transform: scaleY(0.1);
    background: transparent;
  }
  50% {
    transform: scaleY(1);
    background: yellowgreen;
  }
  100% {
    transform: scaleY(0.1);
    background: transparent;
  }
}

// #endregion second loader
