@import "../global/global.scss";

// #region PRODUCTS
.products {
  margin-top: 10px;
  width: 100%;
  background-color: var(--clr-light);
  padding-bottom: 15px;
  &--header {
    margin: 20px 0;
    overflow: hidden;
    h1 {
      display: inline-block;
      position: relative;
      animation: productsHeader 8s linear infinite;
      color: var(--clr-primary);
      user-select: none;
      transition: 0.3s;
      &:hover {
        transform: scale(1.05);
      }
    }
    @include mobile {
      h1 {
        font-size: 2rem;
      }
    }

    @include extra-small {
      h1 {
        font-size: 1.5rem;
      }
    }
  }

  &--list {
    @include d-flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    &__product {
      height: 440px;
      width: 240px;
      position: relative;
      border-radius: 5px;
      overflow: hidden;
      margin-bottom: 10px;

      .product--title {
        position: absolute;
        top: 0;
        width: 100%;
        padding: 0 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #dddddd7c;
        z-index: 3;
      }

      img {
        height: 360px;
        width: 240px;
        transition: 0.5s;
        z-index: 2;
        &.frontimage {
        }

        &.backimage {
          position: absolute;
          top: 0;
          left: 0;
          height: 360px !important;
          width: 240px !important;
          z-index: 1;
          &:hover {
            opacity: 0;
            filter: blur(10px);
          }
        }
      }
      .stars {
        position: absolute;
        width: 100%;
        padding: 0 5px;
        background-color: #dddddd63;
        bottom: 80px;
        z-index: 1;
      }

      .product--content__name {
        font-size: 14px;
        cursor: pointer;
      }
      .product--content__details {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
          cursor: pointer;
          background-color: var(--clr-primary);
          border: 1px solid transparent;
          outline: none;
          padding: 5px 10px;
          margin-right: 5px;
          transition: 0.1s;
          color: var(--clr-light);

          &:hover {
            transform: scale(1.05);
            background-color: var(--clr-light);
            color: var(--clr-primary);
            border: 1px solid var(--clr-primary);
          }
        }
        input {
          background-color: var(--clr-light);
          text-align: center;
          border: 1px solid var(--clr-primary);
          outline: none;
          padding: 5px 10px;
          margin-right: 5px;
          width: 50px;
          transition: 0.1s;
          color: var(--clr-primary);
        }
      }
    }
  }
}

.fa-solid {
  font-size: 1.2rem;
  animation: heart 1s linear infinite;
}
// #endregion PRODUCTS

// #region CATEGORIES

.categories {
  background-color: var(--clr-primary);
  position: relative;
  z-index: 99;
  margin-bottom: 240px;

  @include extra-small {
    margin-bottom: 0;
  }

  &__header {
    font-size: 1.1rem;
    display: none;
    text-align: center;
    color: var(--clr-light);
    user-select: none;
    @include extra-small {
      display: block;
    }
  }
  &--list {
    @include d-flex;
    gap: 20px;
    height: 500px;
    flex-wrap: wrap;

    @include mobile {
      gap: 10px;
      height: auto;
      padding: 15px 0;
    }

    &__category {
      width: calc(90% / 4);
      background-color: var(--clr-light);
      @include d-flex;
      height: 400px;

      @include mobile {
        width: calc(90% / 2);
        height: 300px;
      }

      button {
        height: 55px;
        width: 155px;
        background-color: var(--clr-primary);
        border: 2px solid transparent;
        outline: none;
        font-size: 14px;
        color: var(--clr-light);
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          transform: scale(1.1);
          background-color: var(--clr-light);
          color: var(--clr-primary);
          border: 2px solid var(--clr-primary);
          font-size: 1rem;
        }
      }

      &.clothing {
        background-image: url(../assets/categories--clothing.webp);
        background-position: center;
      }
      &.shoes {
        background-image: url(../assets/categories--shoes.webp);
        background-position: center;
      }

      &.watches {
        background-image: url(../assets/categories--watches.webp);
        background-position: center;
      }

      &.accessories {
        background-image: url(../assets/categories--accessories.webp);
        background-position-y: center;
        background-repeat: no-repeat;
      }

      &.accessories,
      &.watches,
      &.shoes,
      &.clothing {
        @include extra-small {
          background-image: none;
          height: auto;
          width: auto;

          button {
            border: 1px solid #fff;
          }
        }
      }
    }
  }
}

// #endregion CATEGORIES

// #region FOOTER

.footer {
  position: fixed;
  z-index: -1;
  margin: 20px auto;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  padding: 0 15px;
  @include extra-small {
    position: static;
    height: auto;
  }

  &--content {
    width: 100%;
    @include d-flex(space-between, flex-start);
    @include extra-small {
      gap: 15px;
      align-items: center;
      gap: 15px;
      flex-direction: column;
      button {
        width: 100%;
      }
    }
    @include extra-extra-small {
      align-items: center;
    }
    &_logo,
    &__nav,
    &__subscription {
      @include mobile {
        width: calc(100% / 3);
      }
      @include extra-extra-small {
        width: 100%;
      }
    }
    &__logo {
      user-select: none;
      p {
        font-size: 1.5rem;
        color: var(--clr-primary);
        text-transform: capitalize;
        span {
          color: var(--clr--gray);
        }
        @include mobile {
          font-size: 1.2rem;
        }
      }
    }

    &__nav {
      h3 {
        font-size: 1.5rem;
        user-select: none;
        @include mobile {
          font-size: 1.1rem;
        }
        @include extra-small {
          font-size: 1.3rem;
        }
      }

      li {
        a {
          color: var(--clr-primary);
          border-bottom: 1px solid transparent;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            height: 3px;
            width: 0%;
            bottom: 0;
            left: 0;
            background-color: var(--clr-primary);
            transition: 0.3s;
          }

          &:hover::before {
            width: 100%;
          }
        }
      }

      @include extra-small {
        text-align: center;
      }
    }

    &__subscription {
      form {
        @include d-flex(center, center, column);
        margin-top: 5px;
        gap: 20px;
        input,
        button {
          height: 30px;
          outline: none;
          font-size: 1rem;
        }
        input {
          width: 100%;
          border: 1px solid var(--clr--gray);
          padding: 10px 5px;
          position: relative;
        }
        button {
          align-self: flex-end;
          background-color: var(--clr-primary);
          color: var(--clr-light);
          padding: 10px 20px;
          @include d-flex;
          font-size: 1rem;
          border: 1px solid transparent;
          cursor: pointer;

          &:hover {
            background-color: var(--clr-light);
            color: var(--clr-primary);
            border: 1px solid var(--clr-primary);
          }
        }
      }

      @include mobile {
        h2 {
          font-size: 1rem !important;
        }
        input {
          font-size: 13px !important;
        }
      }
    }
  }
}

// #endregion FOOTER

// #region ANIMATIONS
@keyframes productsHeader {
  0% {
    left: -20%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 120%;
  }
}

@keyframes heart {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.9);
  }
}

// #endregion ANIMATIONS
