@import "../global/global.scss";

// #region PRODUCTS
.products {
  padding-top: 10px;
  width: 100%;
  background-color: var(--clr-light);
  padding-bottom: 15px;
  &--header {
    padding: 20px 0;
    overflow: hidden;
    h1 {
      display: inline-block;
      position: relative;
      animation: productsHeader 8s linear infinite;
      color: var(--clr-primary);
      user-select: none;
      transition: 0.3s;
      &:hover {
        transform: scale(1.05);
      }
    }
    @include mobile {
      h1 {
        font-size: 2rem;
      }
    }

    @include extra-small {
      h1 {
        font-size: 1.5rem;
      }
    }
  }

  &--list {
    @include d-flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    &__product {
      height: 445px;
      width: 240px;
      position: relative;
      overflow: hidden;
      margin-bottom: 10px;

      &:hover {
        & > .products--list__product--quickview {
          transform: translate(1px, -50%);
          z-index: 5;
        }
        img.frontimage {
          opacity: 1;
        }
        img.backimage {
          opacity: 0;
        }
      }
      &--quickview {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(100%, -50%);
        letter-spacing: -5px;
        word-spacing: -3px;
        border: 1px solid var(--clr-primary);
        background-color: var(--clr-light);
        color: var(--clr-primary);
        padding: 10px 0;
        overflow: hidden;
        user-select: none;
        writing-mode: vertical-rl;
        text-orientation: upright;
        transition: 0.3s;
        cursor: pointer;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
      }
      .stars {
        span {
          font-size: 8px;
        }
      }

      .product--title {
        position: absolute;
        top: 0;
        width: 100%;
        padding: 0 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #dddddd7c;
        z-index: 3;
      }

      img {
        height: 360px;
        width: 240px;
        transition: 0.1s;
        z-index: 2;

        &.backimage {
          position: absolute;
          top: 0;
          left: 0;
          height: 360px !important;
          width: 240px !important;
          z-index: 1;
          &:hover {
            opacity: 0;
          }
        }
      }

      img {
        height: 360px;
        width: 240px;
        transition: 0.2s;
        z-index: 2;
        &.backimage {
          position: absolute;
          top: 0;
          left: 0;
          height: 360px;
          width: 240px;
          opacity: 1;
          z-index: 1;
        }
        &.frontimage {
          opacity: 0;
        }
      }

      .product--content__name {
        font-size: 14px;
        color: var(--clr-primary);
        cursor: pointer;
      }
      .product--content__details {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
          cursor: pointer;
          background-color: var(--clr-primary);
          border: 1px solid transparent;
          outline: none;
          padding: 5px 10px;
          margin-right: 5px;
          transition: 0.1s;
          color: var(--clr-light);

          &[disabled] {
            background-color: var(--clr-primary);
            opacity: 0.4 !important;
          }

          &:hover:not(&[disabled]) {
            transform: scale(1.05);
            background-color: var(--clr-light);
            color: var(--clr-primary);
            border: 1px solid var(--clr-primary);
          }
        }
        input {
          background-color: var(--clr-light);
          text-align: center;
          border: 1px solid var(--clr-primary);
          outline: none;
          padding: 5px 10px;
          margin-right: 5px;
          width: 50px;
          transition: 0.1s;
          color: var(--clr-primary);
        }
      }
    }
  }
}
// #endregion PRODUCTS

//#region SWIPER

.swiper {
  height: 80vh;
  overflow: hidden;
  background-color: #ecf5f4;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;

  &--slide {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition: 0.3s;

    &__content {
      position: absolute;
      top: 50%;
      left: 20%;
      transform: translateY(-50%);
      transition: 0.7s ease-in-out;

      h3 {
        color: #adcbcd;
        font-weight: 300;
        margin-bottom: 20px;
      }

      h2 {
        color: #5f6572;
        font-size: 2rem;
        letter-spacing: 2px;
        &:last-of-type {
          margin-bottom: 20px;
        }
      }

      button {
        background-color: #589195;
        border: 1px solid #fff;
        outline: none;
        padding: 13px 16px;
        cursor: pointer;
        transition: 0.3s;
        color: #fff;

        &:hover {
          border: 1px solid #589195;
          background-color: #fff;
          color: #589195;
        }
      }
    }

    .design--circle {
      position: absolute;
      height: 400px;
      width: 400px;
      border-radius: 50%;
      background-color: #adcbcd;
      left: 50%;
      bottom: -45px;

      &.secondclr {
        background-color: #d1b291;
      }

      &.thirdclr {
        background-color: #1f2125;
      }
    }

    img {
      position: absolute;
      bottom: -50px;
      height: 600px;
      left: 60%;
    }

    &.hide {
      position: absolute;
      z-index: -3;
      opacity: 0;

      .swiper--slide__content {
        transform: translate(100%, -50%);

        &.top {
          transform: translate(0%, -100%);
        }

        &.bottom {
          transform: translate(0%, 100%);
        }
      }

      &:nth-child(odd) {
        transform: translateY(-100%);
      }
      &:nth-child(even) {
        transform: translateY(100%);
      }
      &:nth-child(3n) {
        transform: translateX(100%);
      }
    }
  }

  &--controller {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;

    &__dot {
      height: 3px;
      width: 35px;
      background-color: #5f6572;
      cursor: pointer;

      &.active {
        background-color: #589195;
      }
    }
  }

  .nextBtn,
  .prevBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    border: 1px solid #5f6572;
    display: grid;
    place-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
      background-color: #5f6572;
      color: #ecf5f4;
      transform: translateY(-50%) scale(1.5);
    }
  }

  .prevBtn {
    left: 15px;
  }
  .nextBtn {
    right: 15px;
  }
}

//#endregion SWIPER

// #region quickview

.quickview--modal {
  &.hide {
    transform: translate(-100%, -50%);
    z-index: -99;
    opacity: 0;
  }

  position: fixed;
  z-index: 999999;
  height: 600px;
  width: 1000px;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--clr-light);
  padding: 30px 20px;
  background-color: #f6f7f9;
  display: flex;
  justify-content: space-between;
  transition: 0.4s;

  &__slider {
    width: 400px;
    height: 600px;
    display: flex;
    overflow: hidden;
    position: relative;
    &--slide {
      height: 450px;
      width: 400px;
      align-self: center;
      position: absolute;
      transition: 0.2s;
      img {
        height: 100%;
        width: 400px;
        object-fit: cover;
      }
    }
    .quickview--prevBtn,
    .quickview--nextBtn {
      position: absolute;
      z-index: 99999;
      background-color: var(--clr-primary);
      color: #fff;
      width: 40px;
      height: 40px;
      display: grid;
      place-items: center;
      cursor: pointer;
      user-select: none;
    }

    &:hover {
      .quickview--nextBtn,
      .quickview--prevBtn {
        opacity: 1;
      }
      .quickview--prevBtn {
        left: 10px;
      }

      .quickview--nextBtn {
        right: 10px;
      }
    }
    .quickview--prevBtn,
    .quickview--nextBtn {
      opacity: 0;
      transition: 0.4s;
      top: 50%;
      transform: translateY(-50%);
      border: 1px solid var(--clr-primary);
      &:hover {
        background-color: var(--clr-light);
        color: var(--clr-primary);
      }
    }

    .quickview--prevBtn {
      left: 30px;
      opacity: 0;
      top: 50%;
      transition: 0.4s;
    }
    .quickview--nextBtn {
      right: 30px;
      opacity: 0;
      top: 50%;
      transition: 0.4s;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 500px;
    h3 {
      font-weight: 500;
    }
    .price {
      font-weight: 600;
    }

    .description {
      font-weight: 300;
      color: #555;
    }
    button {
      cursor: pointer;
      background-color: var(--clr-primary);
      border: 1px solid transparent;
      outline: none;
      padding: 5px 10px;
      margin-right: 5px;
      transition: 0.1s;
      color: var(--clr-light);

      &[disabled] {
        background-color: var(--clr-primary);
        opacity: 0.4 !important;
      }

      &:hover:not(&[disabled]) {
        transform: scale(1.05);
        background-color: var(--clr-light);
        color: var(--clr-primary);
        border: 1px solid var(--clr-primary);
      }
      &.increase:hover {
        background-color: green;
        color: #fff;
      }
      &.decrease:hover {
        background-color: #e24d4c;
        color: #fff;
      }
    }

    .sociall {
      p {
        margin-bottom: 20px;
      }
      .icons {
        display: flex;
        justify-content: start;
        flex-direction: row;
        gap: 15px;
        i {
          color: #fff;
          height: 30px;
          width: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          border-radius: 50%;
          transition: 0.2s;
          cursor: pointer;
          &:hover {
            transform: scale(1.3);
          }
          &.fa-facebook-f {
            background-color: #3c5b9b;
          }
          &.fa-twitter {
            background-color: #1da1f2;
          }

          &.fa-pinterest-p {
            background-color: #bd081b;
          }

          &.fa-google-plus-g {
            background-color: #dc5043;
          }

          &.fa-linkedin-in {
            background-color: #010103;
          }
        }
      }
    }
  }
}

// #endregion quickview

// #region blogs

.blogs {
  background-color: #fff;
  padding: 30px 0;
  margin-bottom: 240px;
  border-bottom: 1px solid hsl(0, 0%, 80%);
  &--content {
    width: 100%;
  }

  &--header {
    text-align: center;
    margin-bottom: 40px;
    h2 {
      font-size: 2.3rem;
      font-weight: 400;
      margin-bottom: 10px;
      color: #000;
    }
    p {
      font-size: 14px;
      font-weight: 300;
      color: #000;
    }
  }

  &--list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    &__blog {
      background-color: #fff;
      &--img {
        height: 250px;
        overflow: hidden;
        margin-bottom: 20px;
        &:hover img {
          transform: scale(1.05);
        }
        img {
          width: 100%;
          transition: 0.4s;
        }
      }
      &--content {
        h4 {
          font-weight: 200;
          margin-bottom: 5px;
        }

        .blog--title {
          font-weight: 400;
          margin-bottom: 20px;
          a {
            color: #010103 !important;
            transition: 0.3s;
            &:hover {
              color: #4a92b7 !important;
            }
          }
        }

        .blog--desc {
          font-weight: 300;
          margin-bottom: 30px;
        }

        button {
          padding: 10px 9px;
          border: 1px solid #2f2f2f;
          outline: none;
          color: #2f2f2f;
          background-color: transparent;
          cursor: pointer;
          transition: 0.3s;
          &:hover {
            background-color: #2f2f2f;
            color: #fff;
          }
        }
      }
    }
  }
}

// #endregion blogs

// #region ANIMATIONS
@keyframes productsHeader {
  0% {
    left: -20%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 120%;
  }
}

@keyframes heart {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.9);
  }
}

// #endregion ANIMATIONS
