@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: var(--font--primary);
  font-family: "Golos Text", sans-serif;
  font-family: "Golos Text", sans-serif;
  font-family: "Montserrat", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  --clr-primary: #555;
  --clr-light: #fff;
  --clr--gray: #555555;
  --clr--light--gray: #a0a0a0;
  --font--primary: "MuseoModerno", cursive;
  --font--secondary: "Work Sans", sans-serif;
  --font--third: "Roboto", sans-serif;
  background-color: #fff;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
}
@media only screen and (max-width: 1199px) {
  .container {
    max-width: 1000px;
  }
}
@media only screen and (max-width: 991px) {
  .container {
    max-width: 760px;
  }
}
@media only screen and (max-width: 767px) {
  .container {
    max-width: 580px;
  }
}
@media only screen and (max-width: 575px) {
  .container {
    max-width: 400px;
  }
}
@media only screen and (max-width: 400px) {
  .container {
    max-width: 100%;
  }
}

.shopping--cart {
  position: fixed;
  width: 400px;
  height: 100%;
  z-index: 999999999;
  padding: 30px 15px;
  right: 0;
  background-color: #fff;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  transition: 0.4s;
}
.shopping--cart.hide {
  right: -100%;
}
.shopping--cart.empty .emptycart {
  display: block;
}
.shopping--cart.empty .shopping--cart__list,
.shopping--cart.empty .shopping--cart__actions {
  display: none;
}
.shopping--cart .emptycart {
  display: none;
}
.shopping--cart img {
  width: 100%;
}
.shopping--cart__head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shopping--cart__head h3 {
  font-weight: 400;
}
.shopping--cart__head i {
  font-weight: 400;
  cursor: pointer;
}
.shopping--cart img.emptycart {
  width: 250px;
  margin: 20px auto;
}
.shopping--cart h2.emptycart {
  font-weight: 400;
  font-size: 1.3rem;
}
.shopping--cart p.emptycart {
  margin: 30px 0;
  text-align: center;
}
.shopping--cart .backshop {
  border: none;
  outline: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.4s linear;
}
.shopping--cart .backshop:hover {
  background-color: #000;
  color: #f0f0f0;
}
.shopping--cart__list {
  height: 500px;
  width: 100%;
  overflow-y: scroll;
  padding: 10px 5px;
  margin-top: 20px;
}
.shopping--cart__list--header {
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}
.shopping--cart__list .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid hsl(0, 0%, 93%);
  padding: 5px;
  margin: 10px 0;
}
.shopping--cart__list .item img {
  width: 60px;
  border: 1px solid hsl(0, 0%, 80%);
}
.shopping--cart__list .item--content {
  flex-basis: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: start;
  flex-direction: column;
}
.shopping--cart__list .item--content h5 {
  font-size: 14px;
  font-weight: 500;
}
.shopping--cart__list .item--content h5 a {
  color: #000;
  transition: 0.3s;
}
.shopping--cart__list .item--content h5 a:hover {
  color: #0087ca;
}
.shopping--cart__list .item--content > p {
  font-size: 12px;
}
.shopping--cart__list .item--content > p .price {
  font-size: 14px;
}
.shopping--cart__list .item--content__bottom {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  margin-right: 5px;
  gap: 0;
}
.shopping--cart__list .item--content__bottom .cart--actions {
  margin-right: 27px;
  border: 1px solid hsl(0, 0%, 80%);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.shopping--cart__list .item--content__bottom .cart--actions button,
.shopping--cart__list .item--content__bottom .cart--actions input {
  border: none;
  outline: none;
  background-color: transparent;
  text-align: center;
  height: 25px;
}
.shopping--cart__list .item--content__bottom .cart--actions button {
  width: 20px;
  cursor: pointer !important;
  transition: 0.3s;
}
.shopping--cart__list .item--content__bottom .cart--actions button:hover {
  transform: scale(1.05);
  background-color: #000;
  color: #fff;
}
.shopping--cart__list .item--content__bottom .cart--actions input {
  width: 40px;
  text-align: center;
}
.shopping--cart__list .item--content__bottom .cart--actions input::-webkit-inner-spin-button, .shopping--cart__list .item--content__bottom .cart--actions input::-webkit-outer-spin-button {
  display: none;
}
.shopping--cart__list .item--content__bottom a {
  text-decoration: underline;
  color: #000;
}
.shopping--cart__actions {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 170px;
  background-color: #3498db;
  color: #fff;
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.shopping--cart__actions .subtotal {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.shopping--cart__actions .subtotal p {
  font-size: 1.1rem;
}
.shopping--cart__actions .subtotal span {
  font-size: 1.1rem;
}
.shopping--cart__actions .checkout {
  width: 100%;
  height: 35px;
  border: none;
  cursor: pointer;
  outline: none;
  transition: 0.3s linear;
  border-radius: 20px;
}
.shopping--cart__actions .checkout:hover {
  background-color: rgb(255, 174, 0);
  color: #f0f0f0;
  transform: scale(1.05);
}
.shopping--cart__actions .gotocartpage {
  text-decoration: underline;
  color: #fff;
  cursor: pointer;
}

.header {
  position: sticky;
  top: 0;
  padding: 0 20px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #fff;
  box-shadow: 0px 1px 30px var(--clr-light);
  z-index: 9999;
  border-bottom: 2px solid hsl(0, 0%, 93%);
}
.header--navigation {
  height: 100%;
}
.header--navigation ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1.1rem;
  line-height: 1.4;
  font-weight: 300;
  transition: 1s height;
  top: 0;
  height: 100%;
}
.header--navigation ul li {
  transition: 1s;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.header--navigation ul li a {
  color: var(--clr-primary);
}
.header--navigation ul li.active::before {
  transform: scale(1);
}
@media only screen and (max-width: 767px) {
  .header--navigation {
    height: 0;
    overflow: hidden;
  }
  .header--navigation.active {
    height: auto;
  }
}

.actions {
  padding: 15px 0;
  border-bottom: 1px solid hsl(0, 0%, 93%);
}
.actions__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 100%;
}
.actions--logo {
  font-weight: 400;
  font-size: 2rem;
  width: 300px;
}
.actions--logo p {
  color: red;
}
.actions--logo p span {
  color: var(--clr--gray) !important;
}
.actions--search {
  position: relative;
  z-index: 999999999999;
}
.actions--search input {
  outline: none;
  border: none;
  padding: 1rem 3rem 1rem 1rem;
  width: 300px;
  border: 1px solid hsl(0, 0%, 93%);
  transition: 0.3s;
}
.actions--search input:focus {
  width: 600px;
}
.actions--search i {
  position: absolute;
  right: 1rem;
  line-height: 45px;
  font-size: 20px;
  color: #555;
  cursor: pointer;
}
.actions--search.hide {
  z-index: 999;
}
.actions--search.hide .actions--search__products {
  height: 0;
  z-index: 999;
}
.actions--search__products {
  z-index: 99999999999999;
  position: absolute;
  width: 100%;
  background-color: #fff;
  transform: translate(0%, 100%);
  bottom: 0;
  left: 0;
  overflow: hidden;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid hsl(0, 0%, 93%);
  box-shadow: 0 1rem 6rem rgba(85, 85, 85, 0.5176470588);
}
.actions--search__products--item {
  display: flex;
  cursor: pointer;
  gap: 40px;
  padding: 5px;
  transition: 0.3s;
}
.actions--search__products--item img {
  height: 90px;
  width: 90px;
  -o-object-fit: contain;
     object-fit: contain;
}
.actions--search__products--item .content {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}
.actions--search__products--item .content__top {
  display: flex;
  justify-content: space-between;
}
.actions--search__products--item:hover {
  transform: scale(0.99);
}
.actions--events {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 300px !important;
  justify-content: end;
  gap: 30px;
  font-size: 25px;
}
.actions--events > div {
  cursor: pointer;
}

.checked {
  color: orange;
}

.unchecked {
  color: var(--clr--light--gray);
}

.notifications {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 350px;
  z-index: 99999999999;
}
.notifications :where(.notification, div) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.notifications .notification {
  box-shadow: 0 4px 30px var(--clr--light--gray);
  font-size: 20px;
  font-weight: 400;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: #fff;
  padding: 8px 10px 8px 16px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  animation: intro 0.3s linear;
  margin-bottom: 20px;
}
@keyframes intro {
  0% {
    transform: translateX(100%);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}
.notifications .notification .content {
  gap: 10px;
}
.notifications .notification .content svg {
  width: 20px;
}
.notifications .notification .cancel {
  cursor: pointer;
  color: rgb(116, 107, 107);
  transition: 0.3s;
}
.notifications .notification .cancel:hover {
  color: rgb(0, 0, 0);
}
.notifications .notification::before {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: timer 5s linear;
}
@keyframes timer {
  100% {
    width: 0;
  }
}

.notification.hide {
  animation: outro 0.1s forwards;
}

@keyframes outro {
  100% {
    transform: translateX(calc(100% + 30px));
  }
}
.notification#success::before {
  background-color: #0abf30;
}

.notification#error::before {
  background-color: #e24d4c;
}

.notification#info::before {
  background-color: #3498db;
}

.notification#warning::before {
  background-color: #e9bd0c;
}

.footer {
  position: fixed;
  z-index: -1;
  bottom: 0;
  left: 0;
  right: 0;
  height: 270px;
  padding: 20px 15px;
  background-color: #ddd;
  color: #000;
}
@media only screen and (max-width: 575px) {
  .footer {
    position: static;
    height: auto;
  }
}
.footer--content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
@media only screen and (max-width: 575px) {
  .footer--content {
    gap: 15px;
    align-items: center;
    gap: 15px;
    flex-direction: column;
  }
  .footer--content button {
    width: 100%;
  }
}
@media only screen and (max-width: 400px) {
  .footer--content {
    align-items: center;
  }
}
@media only screen and (max-width: 767px) {
  .footer--content_logo, .footer--content__nav, .footer--content__subscription {
    width: 33.3333333333%;
  }
}
@media only screen and (max-width: 400px) {
  .footer--content_logo, .footer--content__nav, .footer--content__subscription {
    width: 100%;
  }
}
.footer--content__logo {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.footer--content__logo p {
  font-size: 1.5rem;
  color: #000;
  text-transform: capitalize;
}
@media only screen and (max-width: 767px) {
  .footer--content__logo p {
    font-size: 1.2rem;
  }
}
.footer--content__nav h3 {
  color: #000;
  font-size: 1.5rem;
  font-weight: 400;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-bottom: 15px;
}
@media only screen and (max-width: 767px) {
  .footer--content__nav h3 {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 575px) {
  .footer--content__nav h3 {
    font-size: 1.3rem;
  }
}
.footer--content__nav li {
  margin-bottom: 10px;
}
.footer--content__nav li a {
  color: #000;
  border-bottom: 1px solid transparent;
  position: relative;
}
@media only screen and (max-width: 575px) {
  .footer--content__nav {
    text-align: center;
  }
}
.footer--content__subscription h2 {
  font-weight: 400;
}
.footer--content__subscription form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5px;
  gap: 20px;
}
.footer--content__subscription form input,
.footer--content__subscription form button {
  height: 30px;
  outline: none;
  font-size: 1rem;
}
.footer--content__subscription form input {
  width: 100%;
  border: 1px solid var(--clr--gray);
  padding: 10px 5px;
  position: relative;
}
.footer--content__subscription form button {
  align-self: flex-end;
  background-color: var(--clr-primary);
  color: var(--clr-light);
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 1rem;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.3s;
}
.footer--content__subscription form button:hover {
  background-color: var(--clr-light);
  color: var(--clr-primary);
  border: 1px solid var(--clr-primary);
}
@media only screen and (max-width: 767px) {
  .footer--content__subscription h2 {
    font-size: 1rem !important;
  }
  .footer--content__subscription input {
    font-size: 13px !important;
  }
}
.footer--foot {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.footer--foot__sociall {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.footer--foot__sociall a {
  color: #555;
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.footer--foot__sociall a i {
  position: relative;
  z-index: 2;
}
.footer--foot__sociall a:hover i {
  color: #fff;
}
.footer--foot__sociall a:hover::after {
  transform: scale(1);
}
.footer--foot__sociall a::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #555;
  top: 0;
  left: 0;
  transform: scale(0);
  transform-origin: center;
  transition: 0.2s;
  border-radius: 50%;
}
.footer--foot__copyright a {
  color: #0087ca;
}
.footer--foot__copyright a::after {
  background-color: #0087ca;
}
.footer--foot__payment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-weight: 500;
  color: #555;
  gap: 10px;
}
.footer--foot__payment img {
  width: 30px;
}

.preloader {
  height: 100%;
  width: 100%;
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
  perspective: 1600px;
  perspective-origin: 20% 50%;
  transition: 0.5s all;
  opacity: 1;
}

.spinner {
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid var(--clr-primary);
  border-radius: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: spin 1s infinite linear;
}

.preloader.fade {
  opacity: 0;
  z-index: -99;
}

.b-ico-preloader {
  background-size: cover;
  width: 52px;
  height: 67px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: ico 5s infinite linear;
  transform-style: preserve-3d;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes ico {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
.promotion {
  width: 100%;
  margin-bottom: 270px;
  padding: 40px 0;
  background-color: #fff;
  border-bottom: 1px solid hsl(0, 0%, 80%);
  border-top: 1px solid hsl(0, 0%, 80%);
}
.promotion--content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 40px;
}
.promotion--content .promo--main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}
.promotion--content .promo--main img {
  height: 40px;
}
.promotion--content .promo--main p {
  font-weight: 500;
  color: #292930;
}
.promotion--content .promo--main span {
  font-weight: 300;
  color: #777;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background: var(--clr--light--gray);
  border: 3px solid var(--clr--light--gray);
  color: var(--clr--light--gray);
  border-radius: 20px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: hsl(0, 0%, 93%);
}

.overlay {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  background-color: rgba(86, 86, 86, 0.4078431373);
  z-index: 99999;
  cursor: url("/assets/overlay--cursor.webp"), auto;
}
.overlay.hide {
  display: none;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}
.hover-underline-animation.active {
  color: #555;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--clr-primary);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-underline-animation.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.location {
  font-size: 16px;
}
.location a {
  color: #555;
}
.location a.active {
  font-weight: 400;
}

button[disabled] {
  cursor: not-allowed !important;
}

body,
header {
  background-color: #f3f3f3 !important;
}

.product {
  padding: 30px 0;
  background-color: #fff;
}
.product--location {
  color: #555 !important;
  padding: 0 20px;
  font-size: 16px;
  margin-bottom: 25px;
}
.product--location a {
  color: #555 !important;
}
.product--location a::after {
  height: 1px;
}
.product--main {
  display: flex;
  justify-content: space-between;
}
.product--main__slider {
  height: 700px;
  display: flex;
}
.product--main__slider img {
  height: 100%;
}
.product--main__slider--slide {
  margin-left: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.product--main__slider--slide img {
  height: 100px;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: 0.3s;
}
.product--main__slider--slide img:hover {
  transform: scale(1.04);
}
.product--main__desc {
  width: 600px;
}
.product--main__desc--top {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
}
.product--main__desc--top .desc--name {
  text-align: left;
  font-weight: 400;
}
.product--main__desc--top p:nth-of-type(1) {
  font-weight: 600;
  font-size: 30px;
}
.product--main__desc--top .desc--stock {
  color: green;
  font-weight: 500;
  margin-left: 5px;
}
.product--main__desc--top p:nth-last-of-type(1) {
  font-weight: 300;
  color: #555;
}
.product--main__desc--bot {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product--main__desc--bot .product--content__details--changecount {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
}
.product--main__desc--bot .product--content__details--changecount button {
  cursor: pointer;
  background-color: var(--clr-primary);
  border: 1px solid transparent;
  outline: none;
  height: 60px;
  transition: 0.1s;
  color: var(--clr-light);
  width: 50px;
}
.product--main__desc--bot .product--content__details--changecount button:hover {
  transform: scale(1.05);
  background-color: var(--clr-light);
  color: var(--clr-primary);
  border: 1px solid var(--clr-primary);
}
.product--main__desc--bot .product--content__details--changecount button.increase:hover {
  background-color: green;
  color: #fff;
}
.product--main__desc--bot .product--content__details--changecount button.decrease:hover {
  background-color: #e24d4c;
  color: #fff;
}
.product--main__desc--bot .product--content__details--changecount input {
  height: 60px;
  width: 85px;
  text-align: center;
  font-size: 1.2rem;
  line-height: 0.7;
}
.product--main__desc--bot button:not(.increase, .decrease) {
  cursor: pointer;
  background-color: var(--clr-primary);
  border: 1px solid transparent;
  outline: none;
  height: 60px;
  margin-right: 5px;
  transition: 0.1s;
  color: var(--clr-light);
  width: 200px;
}
.product--main__desc--bot button:not(.increase, .decrease).wish-btn {
  font-size: 30px;
}
.product--main__desc--bot button:not(.increase, .decrease):hover {
  transform: scale(1.05);
  background-color: var(--clr-light);
  color: var(--clr-primary);
  border: 1px solid var(--clr-primary);
}
.product--main__desc--bot button:not(.increase, .decrease).increase:hover {
  background-color: green;
  color: #fff;
}
.product--main__desc--bot button:not(.increase, .decrease).decrease:hover {
  background-color: #e24d4c;
  color: #fff;
}
.product--main__desc--bot button:not(.increase, .decrease)[disabled] {
  background-color: var(--clr-primary);
  opacity: 0.4;
}
.product--main__desc--bot button:not(.increase, .decrease)[disabled]:hover {
  transform: scale(1);
  color: var(--clr-light);
}
.product--main__desc--bot .sociall {
  margin-top: 40px;
}
.product--main__desc--bot .sociall button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.product--desrev__description {
  padding: 30px 0;
}
.product--desrev__description h3 {
  font-weight: 300 !important;
  font-size: 20px;
}
.product--desrev__description p {
  font-weight: 200;
  margin-bottom: 20px;
}/*# sourceMappingURL=singleProduct.css.map */