@import "../../../global/global";

.header {
  position: absolute;
  width: 100%;
  background-color: transparent;
  box-shadow: none;
  border-bottom: none;
  transition: 0.3s;
  &:hover,
  &.scroll {
    background-color: #fff;
    position: fixed;
    border-bottom: 1px solid hsl(0, 0%, 91%);

    a {
      color: #000 !important;
      &::after {
        background-color: #000;
      }
    }
  }
  a {
    color: #fff !important;
    &::after {
      background-color: #fff;
    }
  }
}

.blogpage--header {
  width: 100%;
  overflow: hidden;
  height: 100vh;
  position: relative;
  img {
    filter: grayscale(30%) contrast(60%);
  }
  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    width: 500px;
  }
  &__content {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    width: 500px;
    p {
      @include d-flex();
      gap: 8px;
    }
  }

  &__location {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff !important;
    padding: 0 20px;
    font-size: 16px;
    margin-bottom: 25px;
    * {
      font-weight: 200 !important;
    }
    a {
      color: #fff !important;
      &::after {
        height: 1px;
      }
    }
    .active {
      color: #fff !important;
    }

    .hover-underline-animation {
      &::after {
        background-color: #fff;
      }
    }
  }

  &__share {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    @include d-flex(center, center, column);
    gap: 10px;
    p {
      color: #fff;
      font-weight: 500;
    }
    a {
      color: #fff;
      height: 30px;
      width: 30px;
      @include d-flex;
      position: relative;
      &:hover {
        color: #555;
        &::after {
          transform: scale(1);
        }
      }
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #ddd;
        border-radius: 50%;
        transform: scale(0);
        transform-origin: center;
        transition: 0.3s;
      }
      i {
        position: relative;
        z-index: 1;
      }
    }
  }
}

.blogtext {
  width: 100%;
  padding-bottom: 20px;
  background-color: #fff;
  &--main {
    display: grid;
    grid-template-columns: 6fr 3fr;
  }
  &--content {
    overflow: hidden;
    &__text {
      .blogtext--content__title {
        padding-top: 25px;
        display: grid;
        grid-template-columns: 3fr 9fr;
        .writer {
          margin-right: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          width: 300px;
          img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            object-fit: cover;
          }
          .name {
            color: #000;
            font-weight: 500;
            display: inline-block;
            margin-bottom: 5px;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
              color: #3577f0;
            }
          }
          p {
            color: #777777;
            font-weight: 400;
          }
        }
        & > p {
          color: #777777;
          line-height: 1.7;
        }
      }
      .blogtext--content__main {
        h3 {
          font-weight: 400;
          color: #000;
          margin: 20px 15px;
          font-size: 1.5rem;
        }
        p {
          color: #777777;
          line-height: 1.7;
        }
      }
    }
    .comments--content {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
      & > p {
        margin-bottom: 20px;
      }
      .userlogo {
        width: 60px;
      }
      & > p {
        font-weight: 600;
        font-size: 1.5rem;
      }
      .comment--list {
        &__item {
          margin-bottom: 20px;
          &--parent {
            @include d-flex(start, start);
            gap: 20px;
            margin-bottom: 20px;
            img {
              width: 60px;
              height: 60px;
              border-radius: 50%;
              object-fit: cover;
            }
            &__content {
              display: none;
              @include d-flex(center, start, column);
              gap: 15px;

              .name {
                font-weight: 500;
              }

              .date {
                color: #999fae;
              }
              .reply {
                padding-left: 20px;
                position: relative;
                color: #3577f0;
                font-weight: 500;
                &::after {
                  content: "";
                  position: absolute;
                  height: 4px;
                  width: 4px;
                  background-color: #999fae;
                  left: 10px;
                  top: 50%;
                  border-radius: 50%;
                  transform: translateY(-50%);
                }
              }
              .comment--data {
                padding-right: 10px;
              }
            }
          }
          &--children {
            &__comment {
              img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                object-fit: cover;
              }
              display: none;
              @include d-flex(start, start);
              gap: 20px;
              padding-left: 80px;
              margin-bottom: 15px;
              transition: background-color 0.3s;
              &--content {
                @include d-flex(center, start, column);
                gap: 15px;

                .name {
                  font-weight: 500;
                }

                .date {
                  color: #999fae;
                }
                .reply {
                  padding-left: 20px;
                  position: relative;
                  color: #3577f0;
                  font-weight: 500;
                  &::after {
                    content: "";
                    position: absolute;
                    height: 4px;
                    width: 4px;
                    background-color: #999fae;
                    left: 10px;
                    top: 50%;
                    border-radius: 50%;
                    transform: translateY(-50%);
                  }
                }
                .comment--data {
                  padding-right: 10px;
                }
              }
            }
          }
        }
      }
      .loadmore {
        margin: 0 auto;
      }
    }
    .comments--form {
      form {
        h4 {
          font-size: 1.2rem;
          font-weight: 600;
          margin-bottom: 20px;
        }
        p {
          color: #999fae;
          margin-bottom: 20px;
        }
        .form--section {
          .form--reply {
            width: 900px;
            position: relative;
            height: 150px;
            .replied--message {
              &.hide {
                height: 0;

                & ~ label {
                  opacity: 1;
                }
              }

              & ~ label {
                opacity: 0;
                transition: 0.7s;
              }
              transition: 0.4s;
              overflow: hidden;
              position: absolute;
              top: 0;
              left: 0;
              transform: translateY(-100%);
              width: 100%;
              height: 50px;
              background-color: rgba(102, 101, 101, 0.3);
              backdrop-filter: blur(3px);
              border-top-right-radius: 10px;
              border-top-left-radius: 10px;
              z-index: 9;
              @include d-flex(space-between, center);
              padding: 0 10px;
              &__content {
                span {
                  color: #ea1a1a;
                  font-weight: 500;
                }
                p {
                  margin: 0;
                }
              }
              i {
                cursor: pointer;
              }
            }
            textarea {
              width: 100%;
              height: 100%;
              border: 1px solid hsl(0, 0%, 91%);
              padding: 15px 25px;
              outline: none;
              resize: none;
              top: 0;
              left: 0;
            }

            label {
              height: 16px;
              font-size: 16px;
              line-height: 1;
              background-color: #fff;
              position: absolute;
              top: 0;
              left: 60px;
              transform: translate(-50%, -50%);
            }
          }

          .form--bottom {
            @include d-flex(space-between);
            margin: 20px 0;
            input {
              width: 400px;
              height: 50px;
              border-radius: 8px;
              border: 1px solid #cbd3d9;
              outline: none;
              padding: 0 8px;
            }
            sup {
              font-size: 1rem;
            }
            .form--name,
            .form--email {
              position: relative;
              label {
                height: 16px;
                font-size: 16px;
                line-height: 1;
                background-color: #fff;
                transform: translate(-50%, -50%);
                position: absolute;
                top: 0;
                left: 40px;
              }
            }
            .form--email {
              label {
                left: 50px;
              }
            }
          }
        }
        .submit {
          background-color: #3577f0;
          border: none;
          outline: none;
          height: 40px;
          width: 150px;
          font-size: 1.3rem;
          color: #fff;
          transition: 0.4s;
          cursor: pointer;
          &:hover {
            color: #3577f0;
            background-color: #fff;
            border: 1px solid #3577f0;
          }
        }
      }
    }
  }
  aside {
    width: 100%;

    .aside--bloglist {
      border: 1px solid hsl(0, 0%, 91%);
      padding: 10px 25px;
      border-radius: 5px;
      margin-top: 20px;
      width: 100%;
      .aside--blog {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        &:not(&:nth-last-of-type(1)) {
          border-bottom: 1px solid #f3f3f3;
        }
        padding: 20px 0;
        .img {
          overflow: hidden;
          width: 120px;
          height: 80px;
          border-radius: 8px;
          img {
            width: 120px;
            height: 80px;
            object-fit: cover;
            border-radius: 8px;
            transition: 0.3s;
            &:hover {
              transform: scale(1.3);
            }
          }
        }
        h4 {
          a {
            font-size: 14px;
            color: #000;
          }
        }
        &__content {
          @include d-flex(center, start, column);
          gap: 10px;
          width: 250px;
        }
      }
    }
    .aside--recentviewed {
      border: 1px solid hsl(0, 0%, 91%);
      padding: 10px 25px;
      border-radius: 5px;
      margin-bottom: 20px;
      width: 100%;
      &__product {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        padding: 20px 0;
        position: relative;
        &:not(&:nth-last-of-type(1)) {
          border-bottom: 1px solid #f3f3f3;
        }
        img {
          width: 50px;
        }
        .product--text {
          flex-basis: 100%;
          @include d-flex(center, center, column);
          p {
            font-size: 1.2rem;
          }
        }
        .gotopage {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: #fff;
          @include d-flex;
          font-size: 1.2rem;
          font-weight: 300;
          opacity: 0;
          z-index: -1;
          transition: 0.4s;
          a {
            color: #999fae;
            cursor: pointer;
            border-bottom: 1px solid transparent;
            &:hover {
              border-bottom: 1px solid hsl(0, 0%, 91%);
            }
          }
        }

        &:hover {
          .gotopage {
            z-index: 1;
            opacity: 1;
          }
        }
      }
    }
  }
}

.line {
  width: 80%;
  height: 1px;
  background-color: hsl(0, 0%, 91%);
  margin: 10px auto;
}

.box--header {
  font-weight: 500;
  margin-bottom: 10px;
}
