@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: var(--font--primary);
  font-family: "Golos Text", sans-serif;
  font-family: "Golos Text", sans-serif;
  font-family: "Montserrat", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  --clr-primary: #555;
  --clr-light: #fff;
  --clr--gray: #555555;
  --clr--light--gray: #a0a0a0;
  --font--primary: "MuseoModerno", cursive;
  --font--secondary: "Work Sans", sans-serif;
  --font--third: "Roboto", sans-serif;
  background-color: #fff;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
}
@media only screen and (max-width: 1199px) {
  .container {
    max-width: 1000px;
  }
}
@media only screen and (max-width: 991px) {
  .container {
    max-width: 760px;
  }
}
@media only screen and (max-width: 767px) {
  .container {
    max-width: 580px;
  }
}
@media only screen and (max-width: 575px) {
  .container {
    max-width: 400px;
  }
}
@media only screen and (max-width: 400px) {
  .container {
    max-width: 100%;
  }
}

.header {
  position: sticky;
  top: 0;
  padding: 0 20px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #fff;
  box-shadow: 0px 1px 30px var(--clr-light);
  z-index: 9999;
  border-bottom: 2px solid hsl(0, 0%, 93%);
}
.header--navigation {
  height: 100%;
}
.header--navigation ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1.1rem;
  line-height: 1.4;
  font-weight: 300;
  transition: 1s height;
  top: 0;
  height: 100%;
}
.header--navigation ul li {
  transition: 1s;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.header--navigation ul li a {
  color: var(--clr-primary);
}
.header--navigation ul li.active::before {
  transform: scale(1);
}
@media only screen and (max-width: 767px) {
  .header--navigation {
    height: 0;
    overflow: hidden;
  }
  .header--navigation.active {
    height: auto;
  }
}

.actions {
  padding: 15px 0;
  border-bottom: 1px solid hsl(0, 0%, 93%);
}
.actions__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 100%;
}
.actions--logo {
  font-weight: 400;
  font-size: 2rem;
  width: 30px;
}
.actions--logo p {
  color: red;
}
.actions--logo p span {
  color: var(--clr--gray) !important;
}
.actions--search {
  position: relative;
  z-index: 999999999999;
}
.actions--search input {
  outline: none;
  border: none;
  padding: 1rem 3rem 1rem 1rem;
  width: 300px;
  border: 1px solid hsl(0, 0%, 93%);
  transition: 0.3s;
}
.actions--search input:focus {
  width: 600px;
}
.actions--search i {
  position: absolute;
  right: 1rem;
  line-height: 45px;
  font-size: 20px;
  color: #555;
  cursor: pointer;
}
.actions--search.hide {
  z-index: 999;
}
.actions--search.hide .actions--search__products {
  height: 0;
  z-index: 999;
}
.actions--search__products {
  z-index: 99999999999999;
  position: absolute;
  width: 100%;
  background-color: #fff;
  transform: translate(0%, 100%);
  bottom: 0;
  left: 0;
  overflow: hidden;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid hsl(0, 0%, 93%);
  box-shadow: 0 1rem 6rem rgba(85, 85, 85, 0.5176470588);
}
.actions--search__products--item {
  display: flex;
  cursor: pointer;
  gap: 40px;
  padding: 5px;
  transition: 0.3s;
}
.actions--search__products--item img {
  height: 90px;
  width: 90px;
  -o-object-fit: contain;
     object-fit: contain;
}
.actions--search__products--item .content {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}
.actions--search__products--item .content__top {
  display: flex;
  justify-content: space-between;
}
.actions--search__products--item:hover {
  transform: scale(0.99);
}
.actions--events {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 30px !important;
  gap: 30px;
  font-size: 25px;
}
.actions--events > div {
  cursor: pointer;
}

.checked {
  color: orange;
}

.unchecked {
  color: var(--clr--light--gray);
}

.notifications {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 350px;
  z-index: 99999999999;
}
.notifications :where(.notification, div) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.notifications .notification {
  box-shadow: 0 4px 30px var(--clr--light--gray);
  font-size: 20px;
  font-weight: 400;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: #fff;
  padding: 8px 10px 8px 16px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  animation: intro 0.3s linear;
  margin-bottom: 20px;
}
@keyframes intro {
  0% {
    transform: translateX(100%);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}
.notifications .notification .content {
  gap: 10px;
}
.notifications .notification .content svg {
  width: 20px;
}
.notifications .notification .cancel {
  cursor: pointer;
  color: rgb(116, 107, 107);
  transition: 0.3s;
}
.notifications .notification .cancel:hover {
  color: rgb(0, 0, 0);
}
.notifications .notification::before {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: timer 5s linear;
}
@keyframes timer {
  100% {
    width: 0;
  }
}

.notification.hide {
  animation: outro 0.1s forwards;
}

@keyframes outro {
  100% {
    transform: translateX(calc(100% + 30px));
  }
}
.notification#success::before {
  background-color: #0abf30;
}

.notification#error::before {
  background-color: #e24d4c;
}

.notification#info::before {
  background-color: #3498db;
}

.notification#warning::before {
  background-color: #e9bd0c;
}

.footer {
  position: fixed;
  z-index: -1;
  bottom: 0;
  left: 0;
  right: 0;
  height: 240px;
  padding: 20px 15px;
  background-color: #000;
}
@media only screen and (max-width: 575px) {
  .footer {
    position: static;
    height: auto;
  }
}
.footer--content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
@media only screen and (max-width: 575px) {
  .footer--content {
    gap: 15px;
    align-items: center;
    gap: 15px;
    flex-direction: column;
  }
  .footer--content button {
    width: 100%;
  }
}
@media only screen and (max-width: 400px) {
  .footer--content {
    align-items: center;
  }
}
@media only screen and (max-width: 767px) {
  .footer--content_logo, .footer--content__nav, .footer--content__subscription {
    width: 33.3333333333%;
  }
}
@media only screen and (max-width: 400px) {
  .footer--content_logo, .footer--content__nav, .footer--content__subscription {
    width: 100%;
  }
}
.footer--content__logo {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.footer--content__logo p {
  font-size: 1.5rem;
  color: #ddd;
  text-transform: capitalize;
}
@media only screen and (max-width: 767px) {
  .footer--content__logo p {
    font-size: 1.2rem;
  }
}
.footer--content__nav h3 {
  color: #ddd;
  font-size: 1.5rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media only screen and (max-width: 767px) {
  .footer--content__nav h3 {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 575px) {
  .footer--content__nav h3 {
    font-size: 1.3rem;
  }
}
.footer--content__nav li a {
  color: #ddd;
  border-bottom: 1px solid transparent;
  position: relative;
}
@media only screen and (max-width: 575px) {
  .footer--content__nav {
    text-align: center;
  }
}
.footer--content__subscription form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5px;
  gap: 20px;
}
.footer--content__subscription form input,
.footer--content__subscription form button {
  height: 30px;
  outline: none;
  font-size: 1rem;
}
.footer--content__subscription form input {
  width: 100%;
  border: 1px solid var(--clr--gray);
  padding: 10px 5px;
  position: relative;
}
.footer--content__subscription form button {
  align-self: flex-end;
  background-color: var(--clr-primary);
  color: var(--clr-light);
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 1rem;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.3s;
}
.footer--content__subscription form button:hover {
  background-color: var(--clr-light);
  color: var(--clr-primary);
  border: 1px solid var(--clr-primary);
}
@media only screen and (max-width: 767px) {
  .footer--content__subscription h2 {
    font-size: 1rem !important;
  }
  .footer--content__subscription input {
    font-size: 13px !important;
  }
}

.preloader {
  height: 100%;
  width: 100%;
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10000;
  perspective: 1600px;
  perspective-origin: 20% 50%;
  transition: 0.5s all;
  opacity: 1;
}

.spinner {
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid var(--clr-primary);
  border-radius: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: spin 1s infinite linear;
}

.preloader.fade {
  opacity: 0;
  z-index: -99;
}

.b-ico-preloader {
  background-size: cover;
  width: 52px;
  height: 67px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: ico 5s infinite linear;
  transform-style: preserve-3d;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes ico {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background: var(--clr--light--gray);
  border: 3px solid var(--clr--light--gray);
  color: var(--clr--light--gray);
  border-radius: 20px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: hsl(0, 0%, 93%);
}

.overlay {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  background-color: rgba(86, 86, 86, 0.4078431373);
  z-index: 99999;
}
.overlay.hide {
  display: none;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}
.hover-underline-animation.active {
  color: #555;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--clr-primary);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-underline-animation.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.location {
  font-size: 16px;
}
.location a {
  color: #555;
}
.location a.active {
  font-weight: 400;
}

.main {
  background-color: #fff;
  margin-top: 30px;
}
.main fieldset {
  padding: 10px;
}
.main--content {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
  position: relative;
}
.main--content__filter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.main--content__filter--view {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}
.main--content__filter--view button {
  border: none;
  outline: none;
  height: 50px;
  width: 50px;
  cursor: pointer;
  background-color: var(--clr-light);
  border: 1px solid var(--clr-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  transition: 0.3s;
}
.main--content__filter--view button i {
  color: var(--clr-primary);
  font-size: 1rem;
  transition: 0.3s;
}
.main--content__filter--view button:hover {
  background-color: var(--clr-primary);
}
.main--content__filter--view button:hover i {
  color: var(--clr-light);
}
.main--content__filter--sort form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.main--content__filter--sort form select {
  outline: none;
  padding: 10px 5px;
}
.main--content__filter--sort form button {
  padding: 10px;
  cursor: pointer;
  outline: none;
  background-color: var(--clr-light);
  color: var(--clr-primary);
  border: 1px solid var(--clr-primary);
  transition: 0.3s;
}
.main--content__filter--sort form button:hover {
  background-color: var(--clr-primary);
  border: 1px solid transparent;
  color: var(--clr-light);
}

::-moz-placeholder {
  color: var(--clr--light--gray);
}

::placeholder {
  color: var(--clr--light--gray);
}

.products {
  margin-top: 10px;
  width: 100%;
  background-color: var(--clr-light);
  padding-bottom: 15px;
}
.products--header {
  margin: 20px 0;
  overflow: hidden;
}
.products--header h1 {
  display: inline-block;
  position: relative;
  animation: productsHeader 8s linear infinite;
  color: var(--clr-primary);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: 0.3s;
}
.products--header h1:hover {
  transform: scale(1.05);
}
@media only screen and (max-width: 767px) {
  .products--header h1 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 575px) {
  .products--header h1 {
    font-size: 1.5rem;
  }
}
.products--list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 50px;
}
.products--list__product {
  height: 445px;
  width: 240px;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}
.products--list__product:hover > .products--list__product--quickview {
  transform: translate(1px, -50%);
  z-index: 5;
}
.products--list__product:hover img.frontimage {
  opacity: 0;
}
.products--list__product:hover img.backimage {
  opacity: 1;
}
.products--list__product--quickview {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  letter-spacing: -5px;
  word-spacing: -3px;
  border: 1px solid var(--clr-primary);
  background-color: var(--clr-light);
  color: var(--clr-primary);
  padding: 10px 0;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  writing-mode: vertical-rl;
  text-orientation: upright;
  transition: 0.3s;
  cursor: pointer;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.products--list__product .product--title {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(221, 221, 221, 0.4862745098);
  z-index: 1;
}
.products--list__product .stars span {
  font-size: 8px;
}
.products--list__product img {
  height: 360px;
  width: 240px;
  transition: 0.2s;
}
.products--list__product img.backimage {
  position: absolute;
  top: 0;
  left: 0;
  height: 360px;
  width: 240px;
  transition: 0.5s;
  opacity: 0;
  z-index: 1;
}
.products--list__product .product--content__name {
  font-size: 14px;
  cursor: pointer;
  color: var(--clr-primary);
}
.products--list__product .product--content__details {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products--list__product .product--content__details button {
  cursor: pointer;
  background-color: var(--clr-primary);
  border: 1px solid transparent;
  outline: none;
  padding: 5px 10px;
  margin-right: 5px;
  transition: 0.1s;
  color: var(--clr-light);
}
.products--list__product .product--content__details button[disabled] {
  background-color: var(--clr-primary);
  opacity: 0.4 !important;
}
.products--list__product .product--content__details button:hover:not(.products--list__product .product--content__details button[disabled]) {
  transform: scale(1.05);
  background-color: var(--clr-light);
  color: var(--clr-primary);
  border: 1px solid var(--clr-primary);
}
.products--list__product .product--content__details button.increase:hover {
  background-color: green;
  color: #fff;
}
.products--list__product .product--content__details button.decrease:hover {
  background-color: #e24d4c;
  color: #fff;
}
.products--list__product input {
  background-color: var(--clr-light);
  text-align: center;
  border: 1px solid var(--clr-primary);
  outline: none;
  padding: 5px 10px;
  margin-right: 5px;
  width: 50px;
  transition: 0.1s;
  color: var(--clr-primary);
}
.products--list.list {
  display: block;
  display: flex;
  justify-content: center;
}
.products--list.list img:hover {
  transform: scale(1);
}
.products--list.list .products--list__product {
  width: 50%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  border: 0.2px solid #ddd;
  height: 180px;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  box-sizing: 0 1.2rem 3.6rem rgba(0, 0, 0, 0.2) !important;
}
.products--list.list .products--list__product:hover {
  transform: scale(1);
}
.products--list.list .products--list__product .product--title {
  display: none;
}
.products--list.list .products--list__product .product--image {
  width: 200px;
  height: 100%;
  overflow: hidden;
}
.products--list.list .products--list__product .product--image img {
  width: 200px;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.products--list.list .products--list__product .product--image img:hover {
  transform: scale(1) !important;
}
.products--list.list .products--list__product .product--content {
  width: 400px;
}

@keyframes heart {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.9);
  }
}
.quickview--modal {
  position: fixed;
  z-index: 99999;
  height: 600px;
  width: 1000px;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--clr-light);
  padding: 30px 20px;
  background-color: #f6f7f9;
  display: flex;
  justify-content: space-between;
  transition: 0.4s;
}
.quickview--modal.hide {
  transform: translate(-100%, -50%);
  z-index: -99;
  opacity: 0;
}
.quickview--modal__slider {
  width: 400px;
  height: 600px;
  display: flex;
  overflow: hidden;
  position: relative;
}
.quickview--modal__slider--slide {
  height: 450px;
  width: 400px;
  align-self: center;
  position: absolute;
  transition: 0.2s;
}
.quickview--modal__slider--slide img {
  height: 100%;
  width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
.quickview--modal__slider .quickview--prevBtn,
.quickview--modal__slider .quickview--nextBtn {
  position: absolute;
  z-index: 99999;
  background-color: var(--clr-primary);
  color: #fff;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.quickview--modal__slider:hover .quickview--nextBtn,
.quickview--modal__slider:hover .quickview--prevBtn {
  opacity: 1;
}
.quickview--modal__slider:hover .quickview--prevBtn {
  left: 10px;
}
.quickview--modal__slider:hover .quickview--nextBtn {
  right: 10px;
}
.quickview--modal__slider .quickview--prevBtn,
.quickview--modal__slider .quickview--nextBtn {
  opacity: 0;
  transition: 0.4s;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid var(--clr-primary);
}
.quickview--modal__slider .quickview--prevBtn:hover,
.quickview--modal__slider .quickview--nextBtn:hover {
  background-color: var(--clr-light);
  color: var(--clr-primary);
}
.quickview--modal__slider .quickview--prevBtn {
  left: 30px;
  opacity: 0;
  top: 50%;
  transition: 0.4s;
}
.quickview--modal__slider .quickview--nextBtn {
  right: 30px;
  opacity: 0;
  top: 50%;
  transition: 0.4s;
}
.quickview--modal__content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 500px;
}
.quickview--modal__content h3 {
  font-weight: 500;
}
.quickview--modal__content .price {
  font-weight: 600;
}
.quickview--modal__content .description {
  font-weight: 300;
  color: #555;
}
.quickview--modal__content .addtocart button {
  cursor: pointer;
  background-color: var(--clr-primary);
  border: 1px solid transparent;
  outline: none;
  padding: 5px 10px;
  margin-right: 5px;
  transition: 0.1s;
  color: var(--clr-light);
}
.quickview--modal__content .addtocart button[disabled] {
  background-color: var(--clr-primary);
  opacity: 0.4;
}
.quickview--modal__content .addtocart button:hover:not(.quickview--modal__content .addtocart button[disabled]) {
  transform: scale(1.05);
  background-color: var(--clr-light);
  color: var(--clr-primary);
  border: 1px solid var(--clr-primary);
}
.quickview--modal__content .addtocart button.increase:hover {
  background-color: green;
  color: #fff;
}
.quickview--modal__content .addtocart button.decrease:hover {
  background-color: #e24d4c;
  color: #fff;
}
.quickview--modal__content .sociall p {
  margin-bottom: 20px;
}
.quickview--modal__content .sociall .icons {
  display: flex;
  justify-content: start;
  flex-direction: row;
  gap: 15px;
}
.quickview--modal__content .sociall .icons i {
  color: #fff;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;
  transition: 0.2s;
  cursor: pointer;
}
.quickview--modal__content .sociall .icons i:hover {
  transform: scale(1.3);
}
.quickview--modal__content .sociall .icons i.fa-facebook-f {
  background-color: #3c5b9b;
}
.quickview--modal__content .sociall .icons i.fa-twitter {
  background-color: #1da1f2;
}
.quickview--modal__content .sociall .icons i.fa-pinterest-p {
  background-color: #bd081b;
}
.quickview--modal__content .sociall .icons i.fa-google-plus-g {
  background-color: #dc5043;
}
.quickview--modal__content .sociall .icons i.fa-linkedin-in {
  background-color: #010103;
}

.filter {
  position: fixed;
  left: 0%;
  z-index: 999999;
  top: 0%;
  height: 100%;
  background-color: #fff;
  width: 350px;
  padding: 30px 10px;
  transition: 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.filter.hide {
  left: -355px;
  z-index: 999999;
  background-color: #ddd;
  animation: filterShake 0.8s infinite linear;
}
.filter--head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 30px;
}
.filter--head h2 {
  font-weight: 400;
}
.filter--head button {
  height: 25px;
  width: 50px;
  border: none;
  background-color: #4585e0;
  color: #fff;
  outline: none;
  transition: 0.3s;
}
.filter--head button:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.filter--body {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.filter--body__category, .filter--body__rating {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  gap: 15px;
  padding: 10px 0;
}
.filter--body__category p, .filter--body__rating p {
  text-transform: uppercase;
  color: #1da1f2;
  font-weight: 500;
}
.filter--body__category label, .filter--body__rating label {
  padding-left: 8px;
  cursor: pointer;
}
.filter--body__category label input, .filter--body__rating label input {
  cursor: pointer;
}
.filter--body__category label.active, .filter--body__rating label.active {
  color: #17a2b8;
}
.filter--body__price .price-input {
  width: 100%;
  display: flex;
  margin: 30px 0 35px;
}
.filter--body__price .price-input .field {
  display: flex;
  width: 100%;
  height: 45px;
  align-items: center;
}
.filter--body__price .price-input .field input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 19px;
  margin-left: 12px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #999;
  -moz-appearance: textfield;
}
.filter--body__price .price-input .field input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.filter--body__price .price-input .field input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.filter--body__price .price-input .separator {
  width: 130px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}
.filter--body__price .slider {
  height: 5px;
  position: relative;
  background: #ddd;
  border-radius: 5px;
}
.filter--body__price .slider .progress {
  height: 100%;
  left: 25%;
  right: 25%;
  position: absolute;
  border-radius: 5px;
  background: #17a2b8;
}
.filter--body__price .range-input {
  position: relative;
}
.filter--body__price .range-input input {
  position: absolute;
  width: 100%;
  height: 5px;
  top: -5px;
  background: none;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.filter--body__price .range-input input[type=range]::-webkit-slider-thumb {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #17a2b8;
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
.filter--body__price .range-input input[type=range]::-moz-range-thumb {
  height: 17px;
  width: 17px;
  border: none;
  border-radius: 50%;
  background: #17a2b8;
  pointer-events: auto;
  -moz-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
.filter--body__order {
  margin: 20px 0;
}
.filter--body__order p {
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #1da1f2;
  font-weight: 500;
}
.filter--body__order select {
  margin-left: 8px;
  width: 250px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 40px 10px 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: 1px solid #bbb;
  background-color: transparent;
  border-radius: 0;
  position: relative;
  cursor: pointer;
  z-index: 10;
}
.filter--body button[type=submit] {
  background-color: #1da1f2;
  border: none;
  outline: none;
  padding: 8px 15px;
  align-self: flex-end;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
.filter--body button[type=submit]:hover {
  transform: scale(1.05);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 240px;
  border-bottom: 1px solid hsl(0, 0%, 93%);
  padding-bottom: 40px;
  background-color: #fff;
}
.pagination div:not(.pagination--pages) {
  cursor: pointer;
  height: 25px;
  width: 25px;
  display: grid;
  place-items: center;
  background-color: #303030;
  color: #dbe0e9;
  transition: 0.2s;
}
.pagination div:not(.pagination--pages):hover {
  transform: scale(1.05);
}
.pagination div:not(.pagination--pages).active {
  background-color: #409eff;
  transform: scale(1.05);
}
.pagination div:not(.pagination--pages).disabled {
  background-color: #555;
  opacity: 0.7;
}
.pagination div:not(.pagination--pages).disabled:hover {
  transform: scale(1);
}
.pagination--pages {
  display: flex;
  gap: 5px;
}/*# sourceMappingURL=products.css.map */