// GOOGLE FONTS WORK SANS
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;800&display=swap");
// GOOGLE FONTS MUSEOMODERNO
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200;300;400;500;600&display=swap");
@import "../../../global/global";

// #region main

.main {
  background-color: #fff;
  margin-top: 30px;
  fieldset {
    padding: 10px;
  }
  &--content {
    @include d-flex(start, flex-start, column);
    gap: 30px;
    position: relative;

    &__filter {
      width: 100%;
      @include d-flex(space-between);
      &--view {
        @include d-flex;
        gap: 15px;
        button {
          border: none;
          outline: none;
          height: 50px;
          width: 50px;
          cursor: pointer;
          background-color: var(--clr-light);
          border: 1px solid var(--clr-primary);
          @include d-flex;
          transition: 0.3s;
          i {
            color: var(--clr-primary);
            font-size: 1rem;
            transition: 0.3s;
          }

          &:hover {
            background-color: var(--clr-primary);
            i {
              color: var(--clr-light);
            }
          }
        }
      }

      &--sort {
        form {
          @include d-flex;
          gap: 20px;
          select {
            outline: none;
            padding: 10px 5px;
          }
          button {
            padding: 10px;
            cursor: pointer;
            outline: none;
            background-color: var(--clr-light);
            color: var(--clr-primary);
            border: 1px solid var(--clr-primary);
            transition: 0.3s;

            &:hover {
              background-color: var(--clr-primary);
              border: 1px solid transparent;
              color: var(--clr-light);
            }
          }
        }
      }
    }
  }
}

// #endregion main

::placeholder {
  color: var(--clr--light--gray);
}

// #region Products
.products {
  margin-top: 10px;
  width: 100%;
  background-color: var(--clr-light);
  padding-bottom: 15px;
  &--header {
    margin: 20px 0;
    overflow: hidden;
    h1 {
      display: inline-block;
      position: relative;
      animation: productsHeader 8s linear infinite;
      color: var(--clr-primary);
      user-select: none;
      transition: 0.3s;
      &:hover {
        transform: scale(1.05);
      }
    }
    @include mobile {
      h1 {
        font-size: 2rem;
      }
    }

    @include extra-small {
      h1 {
        font-size: 1.5rem;
      }
    }
  }

  &--list {
    @include d-flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    &__product {
      height: 445px;
      width: 240px;
      position: relative;
      overflow: hidden;
      margin-bottom: 10px;
      &:hover {
        & > .products--list__product--quickview {
          transform: translate(1px, -50%);
          z-index: 5;
        }
        img.frontimage {
          opacity: 0;
        }
        img.backimage {
          opacity: 1;
        }
      }
      &--quickview {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(100%, -50%);
        letter-spacing: -5px;
        word-spacing: -3px;
        border: 1px solid var(--clr-primary);
        background-color: var(--clr-light);
        color: var(--clr-primary);
        padding: 10px 0;
        overflow: hidden;
        user-select: none;
        writing-mode: vertical-rl;
        text-orientation: upright;
        transition: 0.3s;
        cursor: pointer;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
      }
      .product--title {
        position: absolute;
        top: 0;
        width: 100%;
        padding: 0 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #dddddd7c;
        z-index: 1;
      }

      .stars {
        span {
          font-size: 8px;
        }
      }

      img {
        height: 360px;
        width: 240px;
        transition: 0.2s;
        &.backimage {
          position: absolute;
          top: 0;
          left: 0;
          height: 360px;
          width: 240px;
          transition: 0.5s;
          opacity: 0;
          z-index: 1;
        }
      }

      .product--content__name {
        font-size: 14px;
        cursor: pointer;
        color: var(--clr-primary);
      }
      .product--content__details {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
          cursor: pointer;
          background-color: var(--clr-primary);
          border: 1px solid transparent;
          outline: none;
          padding: 5px 10px;
          margin-right: 5px;
          transition: 0.1s;
          color: var(--clr-light);

          &[disabled] {
            background-color: var(--clr-primary);
            opacity: 0.4 !important;
          }

          &:hover:not(&[disabled]) {
            transform: scale(1.05);
            background-color: var(--clr-light);
            color: var(--clr-primary);
            border: 1px solid var(--clr-primary);
          }
          &.increase:hover {
            background-color: green;
            color: #fff;
          }
          &.decrease:hover {
            background-color: #e24d4c;
            color: #fff;
          }
        }
      }

      input {
        background-color: var(--clr-light);
        text-align: center;
        border: 1px solid var(--clr-primary);
        outline: none;
        padding: 5px 10px;
        margin-right: 5px;
        width: 50px;
        transition: 0.1s;
        color: var(--clr-primary);
      }
    }

    &.list {
      display: block;
      display: flex;
      justify-content: center;
      img:hover {
        transform: scale(1);
      }
      .products--list__product {
        width: 50%;
        padding: 10px;
        display: flex;
        flex-direction: row;
        border: 0.2px solid #ddd;
        height: 180px;
        overflow: hidden;
        position: relative;
        border-radius: 20px;
        box-sizing: 0 1.2rem 3.6rem rgba(0, 0, 0, 0.2) !important;

        &:hover {
          transform: scale(1);
        }

        .product--title {
          display: none;
        }

        .product--image {
          width: 200px;
          height: 100%;
          overflow: hidden;

          img {
            width: 200px;
            height: 100%;
            object-fit: contain;
            &:hover {
              transform: scale(1) !important;
            }
          }
        }

        .product--content {
          width: 400px;
        }
      }
    }
    margin-bottom: 50px;
  }
}

// #endregion PRODUCTS

// #region ANIMATIONS

@keyframes heart {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.9);
  }
}

// #endregion ANIMATIONS

// #region quickview

.quickview--modal {
  &.hide {
    transform: translate(-100%, -50%);
    z-index: -99;
    opacity: 0;
  }

  position: fixed;
  z-index: 99999;
  height: 600px;
  width: 1000px;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--clr-light);
  padding: 30px 20px;
  background-color: #f6f7f9;
  display: flex;
  justify-content: space-between;
  transition: 0.4s;

  &__slider {
    width: 400px;
    height: 600px;
    display: flex;
    overflow: hidden;
    position: relative;
    &--slide {
      height: 450px;
      width: 400px;
      align-self: center;
      position: absolute;
      transition: 0.2s;
      img {
        height: 100%;
        width: 400px;
        object-fit: cover;
      }
    }
    .quickview--prevBtn,
    .quickview--nextBtn {
      position: absolute;
      z-index: 99999;
      background-color: var(--clr-primary);
      color: #fff;
      width: 40px;
      height: 40px;
      display: grid;
      place-items: center;
      cursor: pointer;
      user-select: none;
    }

    &:hover {
      .quickview--nextBtn,
      .quickview--prevBtn {
        opacity: 1;
      }
      .quickview--prevBtn {
        left: 10px;
      }

      .quickview--nextBtn {
        right: 10px;
      }
    }
    .quickview--prevBtn,
    .quickview--nextBtn {
      opacity: 0;
      transition: 0.4s;
      top: 50%;
      transform: translateY(-50%);
      border: 1px solid var(--clr-primary);
      &:hover {
        background-color: var(--clr-light);
        color: var(--clr-primary);
      }
    }

    .quickview--prevBtn {
      left: 30px;
      opacity: 0;
      top: 50%;
      transition: 0.4s;
    }
    .quickview--nextBtn {
      right: 30px;
      opacity: 0;
      top: 50%;
      transition: 0.4s;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 500px;
    h3 {
      font-weight: 500;
    }
    .price {
      font-weight: 600;
    }

    .description {
      font-weight: 300;
      color: #555;
    }
    .addtocart {
      button {
        cursor: pointer;
        background-color: var(--clr-primary);
        border: 1px solid transparent;
        outline: none;
        padding: 5px 10px;
        margin-right: 5px;
        transition: 0.1s;
        color: var(--clr-light);

        &[disabled] {
          background-color: var(--clr-primary);
          opacity: 0.4;
        }

        &:hover:not(&[disabled]) {
          transform: scale(1.05);
          background-color: var(--clr-light);
          color: var(--clr-primary);
          border: 1px solid var(--clr-primary);
        }
        &.increase:hover {
          background-color: green;
          color: #fff;
        }
        &.decrease:hover {
          background-color: #e24d4c;
          color: #fff;
        }
      }
    }

    .sociall {
      p {
        margin-bottom: 20px;
      }
      .icons {
        display: flex;
        justify-content: start;
        flex-direction: row;
        gap: 15px;
        i {
          color: #fff;
          height: 30px;
          width: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          border-radius: 50%;
          transition: 0.2s;
          cursor: pointer;
          &:hover {
            transform: scale(1.3);
          }
          &.fa-facebook-f {
            background-color: #3c5b9b;
          }
          &.fa-twitter {
            background-color: #1da1f2;
          }

          &.fa-pinterest-p {
            background-color: #bd081b;
          }

          &.fa-google-plus-g {
            background-color: #dc5043;
          }

          &.fa-linkedin-in {
            background-color: #010103;
          }
        }
      }
    }
  }
}

// #endregion quickview
// #region Filter

.filter {
  position: fixed;
  left: 0%;
  z-index: 999999;
  top: 0%;
  height: 100%;
  background-color: #fff;
  width: 350px;
  padding: 30px 10px;
  transition: 0.8s cubic-bezier(0.86, 0, 0.07, 1);

  &.hide {
    left: -355px;
    z-index: 999999;
    background-color: #ddd;
    animation: filterShake 0.8s infinite linear;
  }

  &--head {
    @include d-flex(space-between);
    margin-bottom: 30px;
    h2 {
      font-weight: 400;
    }
    button {
      height: 25px;
      width: 50px;
      border: none;
      background-color: #4585e0;
      color: #fff;
      outline: none;
      transition: 0.3s;
      &:hover {
        transform: scale(1.05);
        cursor: pointer;
      }
    }
  }

  &--body {
    @include d-flex(center, start, column);
    &__category,
    &__rating {
      @include d-flex(space-between, start, column);
      gap: 15px;
      padding: 10px 0;
      p {
        text-transform: uppercase;
        color: #1da1f2;
        font-weight: 500;
      }
      label {
        padding-left: 8px;
        cursor: pointer;
        input {
          cursor: pointer;
        }
        &.active {
          color: #17a2b8;
        }
      }
    }
    &__price {
      .price-input {
        width: 100%;
        display: flex;
        margin: 30px 0 35px;
        .field {
          display: flex;
          width: 100%;
          height: 45px;
          align-items: center;
          input {
            width: 100%;
            height: 100%;
            outline: none;
            font-size: 19px;
            margin-left: 12px;
            border-radius: 5px;
            text-align: center;
            border: 1px solid #999;
            &[type="number"] {
              &::-webkit-outer-spin-button {
                -webkit-appearance: none;
              }
              &::-webkit-inner-spin-button {
                -webkit-appearance: none;
              }
            }
          }
        }
        .separator {
          width: 130px;
          display: flex;
          font-size: 19px;
          align-items: center;
          justify-content: center;
        }
      }
      .slider {
        height: 5px;
        position: relative;
        background: #ddd;
        border-radius: 5px;
        .progress {
          height: 100%;
          left: 25%;
          right: 25%;
          position: absolute;
          border-radius: 5px;
          background: #17a2b8;
        }
      }
      .range-input {
        position: relative;
        input {
          position: absolute;
          width: 100%;
          height: 5px;
          top: -5px;
          background: none;
          pointer-events: none;
          &[type="range"] {
            &::-webkit-slider-thumb {
              height: 17px;
              width: 17px;
              border-radius: 50%;
              background: #17a2b8;
              pointer-events: auto;
              -webkit-appearance: none;
              box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
            }
            &::-moz-range-thumb {
              height: 17px;
              width: 17px;
              border: none;
              border-radius: 50%;
              background: #17a2b8;
              pointer-events: auto;
              -moz-appearance: none;
              box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
            }
          }
        }
      }
    }

    &__order {
      margin: 20px 0;
      p {
        text-transform: uppercase;
        margin-bottom: 10px;
        color: #1da1f2;
        font-weight: 500;
      }
      select {
        margin-left: 8px;
        width: 250px;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 10px 40px 10px 10px;
        -webkit-appearance: none;
        appearance: none;
        border: 1px solid #bbb;
        background-color: transparent;
        border-radius: 0;
        position: relative;
        cursor: pointer;
        z-index: 10;
      }
    }
    button[type="submit"] {
      background-color: #1da1f2;
      border: none;
      outline: none;
      padding: 8px 15px;
      align-self: flex-end;
      color: #fff;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

// #endregion Filter

// #region Pagination

.pagination {
  @include d-flex;
  gap: 10px;
  border-bottom: 1px solid hsl(0, 0%, 93%);
  padding-bottom: 40px;
  background-color: #fff;
  & div:not(&--pages) {
    cursor: pointer;
    height: 25px;
    width: 25px;
    display: grid;
    place-items: center;
    background-color: #303030;
    color: #dbe0e9;
    transition: 0.2s;
    &:hover {
      transform: scale(1.05);
    }

    &.active {
      background-color: #409eff;
      transform: scale(1.05);
    }

    &.disabled {
      background-color: #555;
      opacity: 0.7;
      &:hover {
        transform: scale(1);
      }
    }
  }

  &--pages {
    display: flex;
    gap: 5px;
  }
}

// #endregion Pagination
